---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import { ContestResults } from "../../components/contest-results";

const title = "Resultados";
---

<Layout title={title} heading="Resultados" backHref="/competencias" requireAuth>
  <main class="mx-auto flex w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex w-full flex-col gap-6">
      <Breadcrumb
        items={[
          { label: "Competencias", href: "/competencias" },
          { label: "Resultados" },
        ]}
      />
      <ContestResults client:only="react" />
    </div>
  </main>
</Layout>
