---
import Layout from "../../layouts/Layout.astro";
import { TaskTester } from "../../components/task-tester";

const title = "Probador de tareas";
---

<Layout title={title}>
  <main class="mx-auto flex min-h-screen w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex w-full flex-col">
      <TaskTester client:load />
    </div>
  </main>
</Layout>
