---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import { TaskTester } from "../../components/task-tester";

const title = "Probador de tareas";
---

<Layout title={title} heading="Probador de tareas" backHref="/tareas" requireAuth>
  <main class="mx-auto flex w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex w-full flex-col gap-6">
      <Breadcrumb items={[{ label: "Tareas", href: "/tareas" }, { label: "Probador" }]} />
      <TaskTester client:load />
    </div>
  </main>
</Layout>
