---
import Layout from "../../layouts/Layout.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";
import { MaestrosHome } from "../../components/maestros-home";

const title = "Maestros";
---

<Layout title={title} requireAuth>
  <main class="mx-auto flex w-full max-w-6xl px-4 py-8 sm:px-6 lg:px-8">
    <div class="flex w-full flex-col gap-6">
      <Breadcrumb items={[{ label: "Maestros" }]} />
      <MaestrosHome client:load />
    </div>
  </main>
</Layout>
