---
import "../styles/global.css";
import { AppToaster } from "../components/app-toaster";

interface Props {
  title?: string;
}

const { title = "Bebras" } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
    <AppToaster client:load />
  </body>
</html>
