---
import Layout from "../layouts/Layout.astro";
import { TasksHome } from "../components/tasks-home";

const title = "Gestión de tareas Bebras";
---

<Layout title={title}>
  <main
    class="min-h-screen px-4 py-10 sm:px-6 lg:px-8"
  >
    <TasksHome client:load />
  </main>
</Layout>
